body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperaccess.com/full/4119224.jpg");
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  text-align: center;
  justify-content: center;
  max-width: 35em;
  margin: auto;
  padding-top: 2em;
  color: rgb(63, 10, 10);
  border-style: none;
  border-radius: 5px;
  display: column;
}

.pupi {
  font-size: 45px;
  margin: 15px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgb(240, 20, 20);
  font-weight: bold;
  text-align: center;
  border-style: groove;
  border-color: rgb(54, 5, 5);
  border-width: 0.1em;
  text-decoration: none;
  animation: pulse 7s infinite;
}





@keyframes pulse {
  0% {
    color: rgb(178, 212, 24);
  }
  49% {
    color: rgb(51, 13, 4);
  }
  60% {
    color: rgb(228, 71, 13);
  }
  99% {
    color: rgb(2, 59, 2);
  }
  100% {
    color: rgb(2, 15, 92);
  }
}

.pupi2{
  text-decoration: none;
  color: yellow;
  font-weight: bolder;
}

.highscorelink {
  font-size: 25px;
  margin-top: 85px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  border-style: groove;
  border-color: rgb(54, 5, 5);
  border-width: 0.1em;
  text-decoration: none;
  color: rgb(21, 10, 126);
}

.highscorepos {
  margin-top: 10em;
}

/*AuswahlID*/
.AuswahlID {
  text-align: center;
}

.AuswahlID p {
  text-align: center;
  font-weight: bolder;
}

.zurück {
  text-decoration: none;
  font-size:x-large;
  color: rgb(31, 18, 214);
  font-weight: bolder;
  
  
}

a.auswahlzurück{
  text-decoration: none;
  justify-content: center;
  color: rgb(31, 18, 214);
  font-weight: bolder;
  padding: none;  
  display: flex;
}

/* Arena Bilder   */

.pokeImage {
  width: 15%;
  height: auto;
 border-color: rgb(184, 127, 57);
 border-style: double;
  display:block;
   margin:0 auto;

}
/* Arena VS  */
.pupili {
  font-size: 80px;
  margin-bottom: 100px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgb(240, 20, 20);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  animation: pulse 7s infinite;
 
}
/* Arena Pokemon Beschreibung  */
p {
  color:bisque;
   display:block;
   margin:0 auto;
   text-align: center;
}


.detail {
  text-align: center;
  
  
}

.detail p {
  text-align: center;
  font-weight: bolder;
  
  
}

.AuswahlID p{
  color: rgb(194, 6, 6);
}

.detail p{
  color: rgb(223, 206, 206);
}

.select{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: black;
  opacity: 0.9; */
  padding: 9px
}

.select img {
  width: 45%;
  height: auto;
  opacity: 0.7;
}

.select button:hover, img:hover, a:hover{
  opacity:1; 
}
.select button{
  cursor: pointer;
}

h1, h2, h3{
  text-align: center;
  color: rgb(194, 6, 6);
}

.pokeselect{
  display:flex;
  justify-content: center;
  align-items: center;
  overflow-x: clip;
}

.select h2{
  color:chartreuse
}

button{
  border-radius: 12em;
  background-color: lightgray;
}

.property {
border-color: bisque;

}

